environ
asgiref
certifi
cffi
chardet
charset-normalizer
cryptography
defusedxml
Django
django-debug-toolbar
django-debug-toolbar-template-profiler
django-environ
gunicorn
idna
oauthlib
Pillow
psycopg2-binary
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
wrapt
django-extensions