{% extends 'adminapp/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="сохранить">
    </form>
    <a href="{% url 'admin_staff:categories' %}">
        <button type="button" class="btn btn-success">
            К списку категорий
        </button>
    </a>

{% endblock %}